<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.postme.mapper.PostMapper">

	<!-- 모든 게시글 조회 -->
	<select id="findAll" resultType="com.spring.postme.model.Post">
		SELECT * FROM Posts
	</select>

	<!-- ID로 게시글 조회 -->
	<select id="findById" parameterType="java.lang.Integer"
		resultType="com.spring.postme.model.Post">
		SELECT * FROM Posts WHERE id = #{id}
	</select>

	<!-- 게시글 추가 -->
	<insert id="insertPost"
		parameterType="com.spring.postme.model.Post" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO Posts (userId, title, content)
		VALUES
		(#{userId}, #{title}, #{content})
	</insert>

	<!-- 게시글 업데이트 -->
	<update id="updatePost"
		parameterType="com.spring.postme.model.Post">
		UPDATE Posts
		SET userId = #{userId}
		, title = #{title}
		,
		content = #{content}
		WHERE id = #{id}
	</update>

	<!-- ID로 게시글 삭제 -->
	<delete id="deleteByPostId" parameterType="java.lang.Integer">
		DELETE FROM Posts
		WHERE id
		= #{id}
	</delete>

	<!-- 페이징 처리된 게시글 조회 -->
	<select id="findPostsByPage" parameterType="map"
		resultType="com.spring.postme.model.Post">
		SELECT * FROM Posts ORDER BY id DESC LIMIT #{offset},
		#{pageSize}
	</select>

	<!-- 전체 게시글 수 조회 -->
	<select id="countPosts" resultType="int">
		SELECT COUNT(*) FROM Posts
	</select>

	<delete id="deleteAllPosts">
		DELETE FROM posts
	</delete>

</mapper>
